.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  
}
.info input{
  width: 30px;
  height: 35px;
  font-size: 17px;
}
.info button{
  width: 300px;
  height: 35px;
  margin-top: 20px;
}
.info button:hover{
  cursor:pointer;
}


